*{ /* sets up webpage */
    margin: 0; 
    padding: 0;  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth; /* allows smooth scrolling */
}

body{ /* <body></body> */
    background: #04060D;
    color: #fff;
}

#header{
    width: 100%;
    height: 80vh;
    /*background: url(images/background.png);*/
    background-size: cover;
    background-position: center;
}

.container{ /* use '.' when setting up a class and style everything in that class */
    padding: 2rem; /* top and bottom padding, left and right padding */
}

.logo{ /* setting up logo class */
    width : 140px;
}

.header-text{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 80px;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem #3E8DE3;
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #363434;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/* about-proj section*/
#about-proj{
    padding: 60px 0; /* top and bottom padding */
}

.subtitle{ 
    font-size: 60px;
    font-weight: 600;
    color: #D3D4D7;
    text-align: center;
    margin-bottom: 60px;
}
.row{ 
    display: flex; /* sets up flexbox */
    justify-content: space-between; /* sets space between columns */
    flex-wrap: wrap; /* allows columns to wrap */
    margin-bottom: 60px; /* sets margin between rows */
}

.col-1{ 
    flex-basis: 35%; /* sets width of column */
}

.col-1 img{
    width: 100%;
    border-radius: 15%; /* makes image round */
    filter: drop-shadow(-10px -10px 10px #3E8DE3); /* adds shadow to image */
    transition: transform 0.5s; /* adds transition to image */
}

.col-1:hover img{
    transform: translateY(-10px); /* enlarges image */
}

.col-2{
    /*bring text lower*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.car-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #D3D4D7;
    margin-bottom: 20px;
}

.col-2 iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.row-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-4{
    flex-basis: 35%;
}

.col-4 img{
    width: 100%;
    border-radius: 15%;
    filter: drop-shadow(-10px -10px 10px #3E8DE3);
    transition: transform 0.5s;
}

.col-4:hover img{
    transform: translateY(-10px);
}

.col-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.avm-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #D3D4D7;
    margin-bottom: 20px;
    text-align: center;
}

.col-3 img{
    /*center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.col-3 ul img{
    width: 200px;
    height: 200px;
    margin: 0 10px;
}

.row-3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-5{
    flex-basis: 35%;
}

.col-5 img{
    width: 100%;
    border-radius: 15%;
    filter: drop-shadow(-10px -10px 10px #3E8DE3);
    transition: transform 0.5s;
}

.col-5:hover img{
    transform: translateY(-10px);
}

.col-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 60%;
}

.end-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: #D3D4D7;
    margin-bottom: 20px;
    text-align: center;
}

.col-6 ul{
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.col-6 ul img{
    margin: 0 10px;
    transition: transform 0.5s;
}

.col-6:hover ul img{
    transform: translateY(-10px);
}

/* About Project 2 */
#about-proj2{
    padding: 60px 0;
}

.workflow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s;
}

.workflow img:hover{
    transform: translateY(-10px);
}

.workflow h3{
    text-align: center;
    margin-top: 20px;
}

.poster img{
    margin-top: 20px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s;
}

.poster img:hover{
    transform: translateY(-10px);
}

.poster h3{
    text-align: center;
    margin-top: 20px;
}

/*demos section*/
#demos{
    padding: 60px 0;
}

.row-4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-7{
    flex-basis: 35%;
}

.col-7 video{
    width: 100%;
}

.col-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 35%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #3E8DE3;
    padding: 14px 50px;
    text-decoration: none;
    border-radius: 6px;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background: #3E8DE3;
}

.btn.btn2{
    display: inline-block;
    background: #3E8DE3;
}
